

.buttons {
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
}

.button {
    background: #5e42b0;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 17px;
    padding-top: 8px;
    padding-bottom: 9px;
    cursor: pointer;
}

.button:first-of-type {
    margin-bottom: 14px;
}

.button-content {
    display: flex;
    padding-left: 82px;
}

.button-name {
    font-family: "OpenSans-Bold";
}

.button-img {
    width: 20px;
    margin-right: 7px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (min-width: 768px) {

    .buttons {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 90px;
    }

    .button:first-of-type {
        margin-bottom: 0;
    }

    .button {
        border-radius: 35px;
        padding-top: 17px;
        padding-bottom: 15px;
    }

    .button-content {
        padding-left: 41px;
        min-width: 315px;
        box-sizing: border-box;
    }

    .button-img {
        width: 44px;
        margin-right: 26px;
    }


}