
/*Кнопки------------------------------------------*/
.buttons {
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
}

.button {
    background: #5e42b0;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 17px;
    padding-top: 8px;
    padding-bottom: 9px;
    cursor: pointer;
}

.button:first-of-type {
    margin-bottom: 14px;
}

.button-content {
    display: flex;
    padding-left: 82px;
}

.button-name {
    font-family: "OpenSans-Bold";
}

.button-img {
    width: 20px;
    margin-right: 7px;
}

.button-text {
    display: flex;
    flex-direction: column;
}






/*Кнопки------------------------------------------*/