
/*Кнопки------------------------------------------*/
.buttons {
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
}

.button {
    background: #5e42b0;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    border-radius: 17px;
    padding-top: 8px;
    padding-bottom: 9px;
}

.button:first-of-type {
    margin-bottom: 7px;
}

.button-content {
    display: flex;
    padding-left: 82px;
}

.button-name {
    font-family: "OpenSans-Bold";
}

.button-img {
    width: 20px;
    margin-right: 7px;
}

.button-text {
    display: flex;
    flex-direction: column;
}


.target {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
}

.target-info {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 14px;
}

.logo-app {
    background: #7453d3;
    fill: #fff;
    border-radius: 20px;
    padding: 13px 6px;
    width: 72px;
    align-self: center;
}


/*Кнопки------------------------------------------*/