

.wrapper {
    padding: 0px 20px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper-color-ffffff {
    background: #ffffff;
    height: 305px;

}
.wrapper-color-fafafa {
    background: #fafafa;
    padding-top: 84px;
    padding-bottom: 50px;
}
.wrapper-color-f5f4f9 {
    background: #f5f4f9;
    padding-top: 60px;
    padding-bottom: 50px;
}
.wrapper-color-5e42b0 {
    background: #5e42b0;
    padding-top: 60px;
    padding-bottom: 50px;
}
