
/*верхний фон------------------------------------------*/

.header {
    position: relative;
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #17183a;
}

.header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #17183a;
    opacity: 0.9;
}

/*верхний фон------------------------------------------*/
.logo {
    width: 133px;
    align-self: center;
    margin-top: 33px;
    margin-bottom: 135px;
}


.header-slogan {
    color: #ffffff;
    font-size: 28px;
    font-family: "OpenSans-Bold";
    line-height: 31px;
}

.header-title {
    color: #ffffff;
    font-size: 28px;
    margin-left: 44px;
    margin-bottom: 89px;
    margin-top: 30px;
}



.section-title {
    color: #e7e7e7;
    font-size: 50px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*------------------------------------------*/

.item {
    display: flex;
    flex-direction: column;
}



.item-title {
    color: #c1c1c1;
    font-size: 23px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 27px;
    display: inherit;
}

.item-title-num {
    font-size: 14px;
    line-height: 10px;
    color: #000;
    margin-right: 10px;
    position: relative;
}

.item-title-num::after {
    content: '';
    position: absolute;
    background: #5e42b0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    height: 3px;
    width: 100%;
}

.item-title-num-re::after {
    background: #ffffff;
}

.about {
    position: relative;
}

.about-img {
    position: absolute;
}

.item-text {
    font-size: 15px;
}

/*------------------------------------------*/

.cells-img {
    width: 100%;
}

.cells-title {
    font-size: 28px;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 30px 0 15px 0;
}
.cells-text {
    margin-bottom: 80px;
    font-size: 16px;
}


.cells-number {
    background: #5e42b0;
    display: flex;
    align-self: self-start;
    justify-content: center;
    align-items: center;
    font-family: "OpenSans-Bold";
    margin-top: -50px;
}

.cells-number-in {
    color: #ffffff;
    position: relative;
}


.cells-number-in::after {
    content: '';
    position: absolute;
    background: #8f7bc8;
    bottom: -2px;
    left: 0;
    border-radius: 3px;
    height: 3px;
    width: 100%;
}



/*------------------------------------------*/



.app-logo {
    background: #7453d3;
    fill: #fff;
    border-radius: 20px;
    align-self: center;
    box-sizing: border-box;
}

.app-title {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.app-info {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    text-align: center;
    margin-bottom: 76px;
}


.logo-bottom {
    width: 133px;
    align-self: center;
    margin-top: 82px;
    margin-bottom: 9px;
}


.footer {
    position: relative;
    background-image: url("../images/game_767.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #17183a;
}

.footer::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #17183a;
    opacity: 0.9;
}




@media (min-width: 360px) {



    .cells-number-in {
        font-size: 14px;
        line-height: 20px;
    }

    .cells-number {
        width: 70px;
        height: 70px;
    }

    .about-img {
        top: 84px;
        margin: auto;
        left: 0;
        right: 0;

    }


    .app-logo {
        margin-top: 99px;
        margin-bottom: 57px;
        padding: 13px 6px;
        width: 72px;
    }

}




@media (min-width: 768px) {

    .logo {
        width: 205px;
        margin-bottom: 179px;
    }
    .header-slogan {
        font-size: 64px;
    }
    .header-title {
        font-size: 64px;
        margin-left: 97px;
        margin-bottom: 300px;
    }
    .button-text {
        font-size: 14px;
    }

    .section-title {
        font-size: 80px;
    }

    .item {
        width: 60%;
    }

    .item-title {
        font-size: 32px;
    }
    .item-title-num {
        font-size: 18px;
    }
    .item-text {
        font-size: 16px;
    }
    .item-title-num::after {
        bottom: -5px;
        height: 5px;
    }

    .cells-number-in {
        font-size: 24px;
        line-height: 34px;
    }

    .cells-number {
        width: 116px;
        height: 116px;
    }

    .cells-title {
        font-size: 80px;
        line-height: 60px;
        margin: 54px 0 35px 0;
    }
    .cells-text {
        font-size: 24px;
        margin-bottom: 100px;
    }

    .app-logo {
        width: 130px;
        margin-top: 125px;
        margin-bottom: 80px;
        height: 137px;
    }


    .app-title {
        font-size: 80px;
    }
    .app-info {
        font-size: 36px;
        margin-bottom: 285px;
    }

    .logo-bottom {

        width: 205px;
        margin-top: 50px;
        margin-bottom: 20px;

    }

}

@media (min-width: 1560px) {
    .cells-number {
        margin-top: 0;
    }

    .cell:nth-of-type(even) .cells-wrapper {
        flex-direction: row-reverse;
        margin-right: -50px;
    }
    .cell:nth-of-type(even) .cells-number {
        margin-left: 45px;
    }
    .cell:nth-of-type(odd) .cells-number {
        margin-right: 45px;
    }
    .cell:nth-of-type(odd) .cells-wrapper {
        margin-left: -50px;
    }
}