
/*верхний фон------------------------------------------*/

.section-first {
    position: relative;
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #17183a;
}

.section-first::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #17183a;
    opacity: 0.9;
}

/*верхний фон------------------------------------------*/
.logo {
    width: 133px;
    align-self: center;
    margin-top: 33px;
    margin-bottom: 135px;
}



.header-slogan {
    color: #ffffff;
    font-size: 28px;
}

.header-title {
    color: #ffffff;
    font-size: 28px;
    margin-left: 44px;
    margin-bottom: 89px;
    margin-top: 30px;
}



.section-title {
    color: #e7e7e7;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 19px;
}


/*------------------------------------------*/


.item-title {
    color: #c1c1c1;
    font-size: 23px;
    text-transform: uppercase;
}

.item-title-num {
    font-size: 14px;
    color: #000;
    margin-right: 10px;
    border-bottom: 3px solid #5e42b0;
}

.item-img {
    height: 281px;
    align-self: center;
}

.item--text {
    font-size: 15px;
    margin-bottom: 56px;
}

/*------------------------------------------*/



.cells-img {
    width: 100%;
}

.cells-title {
    font-size: 28px;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 34px 0 25px 0;
}
.cells-text {
    margin-bottom: 80px;
}









